extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Welcome to this application created by 00010443
    div.Message
      div.Title
        h3 Express.js and Node.js
        h1 Food For Devs
      span.Details Access GitHub
       div.NavButtons
        a(href="https://github.com/00010443/WebTech.git")
        div.NavButton2 GitHub

    div.NavButtons
      a(href="/user")
        div.NavButton Login :)